:root {
    --primary-color: rgb(30, 255, 30);
}
.books_wrapper {
    position: relative;
    padding-bottom: 60px;
}
.books_wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 2px;
    z-index: 1;

}
.books_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 36px;
    margin-top: 12px;
}
.books_title {
    font-weight: bold;
    font-size: 28px;
    color: var(--primary-color);
}
.show_more_books {
    position: relative;
    display: flex;
    align-items: center;
}
.books_show_title {
    font-size: 18px;
    color: var(--primary-color);
    margin-right: 32px;
}
.show_more_books span {
    position: absolute;
    font-size: 24px;
    color: var(--primary-color);
    top: 50%;
    right: 0;
    line-height: 0;
    transform: translateY(-50%);
}

/*BOOKS*/
.books_info {
    display: flex;
    align-items: center;
}
.book_info {
    position: relative;
    text-align: center;
    margin-left: 24px;
}
.book_info:not(.book_info:nth-child(3)) {
    margin-left: 54px;
}
.book_buy_now {
    position: absolute;
    background-color: var(--primary-color);
    width: 100%;
    height: 42px;
    bottom: 20.5%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 4px 4px;
    transition: 0.2s ease-in-out;
    z-index: 1;
    display: none;
}
.book_buy_now span {
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.book_buy_now:hover {
    background-color: white;
    border: 1px solid var(--primary-color);
}
.book_buy_now:hover span{
    color: var(--primary-color);
}
.book_info:hover .book_img img{
    transform: translateY(-4px);
}
.book_info:hover .book_buy_now {
    display: flex;
    transform: translateY(-14px);
}
.book_img {
    width: 239px;
    height: 345px;
    margin-bottom: 12px;
}
.book_img img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
    transition: 0.2s ease-in-out;
}
.book_name {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    height: 40px;
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 2;  /* số dòng hiển thị */
  	-webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    margin-bottom: 16px;
}
.book_name:hover {
    color: var(--primary-color);
}
.book_price {
    display: flex;
    justify-content: space-around;
}
.book_price_new {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
}
.book_price_old {
    color: rgb(170, 170, 170);
    text-decoration: line-through;
}

.books_arrow {
    position: absolute;
    width: 32px;
    height: 32px;
    font-size: 20px;
    background-color: rgba(200, 200, 200, 0.5);
    display: flex;
    color: black;
    justify-content: center;
    transition: 0.2s ease-in-out;
    align-items: center;
    z-index: 2;
}
.arrow-back {
    left: 12px;
}
.arrow-next {
    right: 12px;
}
.books_arrow:hover {
    background-color: var(--primary-color);
    color: white;
}